<div class="app-main">
    <h1>{{{hello 'test page'}}}</h1>
    <button onclick="{{handler 'clickHandler'}}"> app click</button>
    <h2>section 1</h2>
    {{{TodoList title="TODO List" items=items callback=func}}}
    <h2>section 2</h2>
    {{{TodoList title="TODO List 2222" items=['111','222'] }}}
</div>