<div>
    <p>1 => {{{hello 'aaaa'}}}</p>
    <p>2 => {{#hello 'bbbb'}} 22222{{/hello}}</p>
    <p>3 => {{pre-text}}</p>
    <p>
        4 => {{#pre-text}}4444{{/pre-text}}
    </p>
    {{#unless aaa}}
        <p>5 => 5555</p>
    {{/unless}}
    {{textMessage}}
    {{{htmlMessage}}}
</div>