<section>
    <h1>{{upper title}}</h1>
    <p>
        {{currentTime}}
    </p>
    <ul>
        {{#each items}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{#if show}}
        <a href="#">show button</a>
    {{/if}}
</section>